@{
    ViewData["Title"] = "Từ chối truy cập";
}

<div class="text-center mt-5">
    <h1 class="text-danger">Access Denied</h1>
    <p class="lead">Bạn không có quyền truy cập vào trang này (Yêu cầu quyền phù hợp).</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Trở về Trang chủ</a>
</div>
